<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 引入properties文件  -->
    <properties resource="jdbc.properties"/>

    <!--设置类型别名，在xxxMapper.xml中设置resultType时，就不用写类的全限定名了-->
    <typeAliases>
        <!--为某个类设置类型别名，如果不指定alias的值，类名就是别名，且不区分大小写-->
        <!--<typeAlias type="com.wayne.mybatis.pojo.User" alias="user"/>-->

        <!--以包为单位，为包下所有的类型设置默认的类型别名，别名就是类名且不区分大小写-->
        <package name="com.wayne.mybatis.pojo"/>
    </typeAliases>

    <environments default="remote">
        <environment id="local">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${local.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
        <environment id="remote">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${remote.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.username}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--<mapper resource="mappers/UserMapper.xml"/>-->
        <package name="com.wayne.mybatis.mapper"/>
    </mappers>
</configuration>