<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayne.mybatis.mapper.ParameterMapper">
    <insert id="insertUser" parameterType="user">
        insert into t_user values (null, #{username}, #{password}, #{age}, #{sex}, #{email})
    </insert>

    <select id="getAllUsers" resultType="user">
        select * from t_user
    </select>

    <!--参数为单个的字面量类型可以通过${}和#{}以任意的名称获取参数值，但是需要注意${}的单引号问题-->
    <select id="getUserByUserName" resultType="user" parameterType="string">
        <!--若参数类型为字符串或日期类型，使用字符串拼接要手动加上单引号-->
        select * from t_user where username = '${username}'
    </select>

    <!--参数为多个字面量，mybatis会自动将这些参数放在一个map集合中-->
    <!--1、以arg0、arg1为key，参数值为value-->
    <!--2、以param1、param2为key，参数值为value-->
    <select id="checkLogin" resultType="com.wayne.mybatis.pojo.User" parameterType="string">
        <!--select * from t_user where username=#{arg0} and password=#{param2}-->
        select * from t_user where username='${arg0}' and password='${param2}'
    </select>

    <!--参数通过map传递，直接通过map的key获取参数即可-->
    <!--使用$()，要加单引号-->
    <select id="checkLoginByMap" resultType="com.wayne.mybatis.pojo.User" parameterType="map">
        <!--select * from t_user where username='${username}' and password='${password}'-->
        select * from t_user where username=#{username} and password=#{password}
    </select>
</mapper>