<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayne.mybatis.mapper.UserMapper">
    <insert id="insertUser">
        insert into t_user values (null, "小明", "123456", 35, "M", "xiaoming@qq.com")
    </insert>

    <update id="updateUser">
        update t_user set username="李四" where id=1
    </update>

    <delete id="deleteUser">
        delete from t_user where id=1
    </delete>

    <select id="getUserById" resultType="user">
        select * from t_user where id=2
    </select>

    <select id="getAllUser" resultType="user">
        select * from t_user
    </select>
</mapper>