<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>

    <settings>
        <!--开启驼峰命名自动映射，如：把empName映射为emp_name-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--开启延迟加载，所有关联对象都会延迟加载，可以通过fetchType属性覆盖此设置-->
        <!--<setting name="lazyLoadingEnabled" value="true"/>-->
        <!--这个属性开启后，任何方法的调用都会加载对象的所有属性-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <typeAliases>
        <package name="com.wayne.mybatis.pojo"/>
    </typeAliases>

    <environments default="remote">
        <environment id="local">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${local.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>

        <environment id="remote">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${remote.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.wayne.mybatis.mapper"/>
    </mappers>
</configuration>